body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Flexo-Demi",arial,sans-serif; 
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

main{
    min-height: 85vh;
}

header{
    min-height: 9vh;
}

footer{
    min-height: 10vh;
}