*{
   
    box-sizing: border-box;
    font-family: "Flexo-Demi",arial,sans-serif; 
}

body, html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Flexo-Demi",arial,sans-serif; 
}

header{
    min-height: 9vh;
}

footer{
    min-height: 10vh;
}

main{
    min-height: 85vh;
    background-color: #aaa;;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

main{
    min-height: 85vh;
}

header{
    min-height: 9vh;
}

footer{
    min-height: 10vh;
}

button:disabled, input[type="submit"]:disabled{
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
}

.error{
    background-color: #f8d7da;
    padding: 0.2em 0.2em;
    border-radius: 5px;
}

.error span{
    font-size: 1em;
    font-weight: 400;
}
