*{
   
    box-sizing: border-box;
    font-family: "Flexo-Demi",arial,sans-serif; 
}

body, html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Flexo-Demi",arial,sans-serif; 
}

header{
    min-height: 9vh;
}

footer{
    min-height: 10vh;
}

main{
    min-height: 85vh;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

main{
    min-height: 85vh;
}

header{
    min-height: 9vh;
}

footer{
    min-height: 10vh;
}

button:disabled{
    background: #aaa;
    border: 2px solid #aaa;
    color: #aaa;
}
