<div class="card" *ngIf="pokemon">
    <img src={{pokemon.urlImage}} alt="Pokemon">
    <div class="poke-info">
        <p>N° {{pokemon.idPokemon}}</p>
        <h5>{{pokemon.name}}</h5>

        <div class="abilities">
            <div class="abilite" *ngFor="let ability of pokemon.types">
                <span class={{ability.type}} >{{ability.type}}</span>
            </div>
        </div>
        
            <button *ngIf="token !== '' " (click)="submit(pokemon);" class={{classBtnPokemon}}> <fa-icon [icon]="farCirclePlus"></fa-icon> </button>
       
        
    </div>
</div>
