<div class="content-about">
    <h2>Projeto pokedex</h2>
    <h1>Jailton de Araujo Santos</h1>

    <div class="contacts">
        <ul>
            <li><a href="https://www.instagram.com/jailton9040/" target="_blank"><img src="assets/instagram.png" alt="img_Instagram" title="Instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/jailton-araujo-b602041a2/" target="_blank"><img src="assets/linkedin.png" alt="img_LinkeDin" title="LinkDin"></a></li>
            <li><a href="https://github.com/JailtonAraujo" target="_blank"> <img src="assets/github.png" alt="img_gitHub" title="GitHub"> </a></li>
        </ul>
    </div>
    <h4>
        Projeto com Front End em Angular e Back End em Java com Spring Framework.
    </h4>


    <p class="reference">
        Todos os dados e imagens dos pokemos foram obtidas atravez do consumo da RESTful Pokémon API <a href="https://pokeapi.co/" target="_blank">https://pokeapi.co/api/v2/</a> 
    </p>
</div>
