.container-message{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}
.message-content{
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    width: 70%;
    height: 120px;
    position: fixed;
    z-index: 10;
}

.message{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button{
    font-size: 1.3em;
    height: 2em;
    width: 2em;
    margin-right: 1em;
}

.error{
    color: #842029;
    background-color: #f8d7da;
    border: 2px solid #f5c2c7;
}

.success{
    background-color: #00FA9A;
    color: #000;
    border: 2px solid #90EE90;
}

@media(max-width:1000px){
    .message-content{
        width: 100%;
    }

    button{
        font-size: 1em;
        height: 2em;
        width: 2em;
        margin-right: 1em;
    }
}