<div class="container">
    <div class="content-login">
        <div class="title">
            <h1>LOGAR</h1>
        </div>

            <form #formDir="ngForm" (submit)="OnSubmit();">
                <div class="form-group">
                    <label for="login">Login:</label>
                    <input type="text" #loginI="ngModel" name="login" id="login" placeholder="Informe seu login..." [(ngModel)]="login.login" required>
            
                    <div class="error" *ngIf="formDir.submitted && loginI.invalid">
                        <span>Login obrigatorio *</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" #password="ngModel" name="password" id="password" placeholder="Informe sua senha..." [(ngModel)]="login.password" required>

                    
                    <div class="error" *ngIf="formDir.submitted && password.invalid">
                        <span>Senha obrigatoria *</span>
                    </div>
                </div>

                <h3>É novo? <a href="#">cadastre-se!</a></h3>
                <input type="submit" value="Logar" [disabled]="formDir.invalid">
            </form>

        </div>

   
</div>