<ul class="list-pokemons">
            <li> <app-pokemon-com></app-pokemon-com> </li>
            <li> <app-pokemon-com></app-pokemon-com> </li>
            <li> <app-pokemon-com></app-pokemon-com> </li>
            <li> <app-pokemon-com></app-pokemon-com> </li>
            <li> <app-pokemon-com></app-pokemon-com> </li>
            <li> <app-pokemon-com></app-pokemon-com> </li>
            <li> <app-pokemon-com></app-pokemon-com> </li>
            <li> <app-pokemon-com></app-pokemon-com> </li>
            <li> <app-pokemon-com></app-pokemon-com> </li>
            <li> <app-pokemon-com></app-pokemon-com> </li>
            <li> <app-pokemon-com></app-pokemon-com> </li>
            <li> <app-pokemon-com></app-pokemon-com> </li>
            <li> <app-pokemon-com></app-pokemon-com> </li>
        </ul>
