<form class="search" (submit)="handlerSubmit();">
    <input type="text" placeholder="Buscar por nome" name="name" [(ngModel)]="Search.name">
    <button><fa-icon [icon]="faSearch" ></fa-icon></button>
</form>
<div class="container-list">
    <ul class="list-pokemons">
        <li *ngFor="let element of AllPokemons"> 
            <app-pokemon-com [pokemon]="element" (onSubmit)="handlerSave($event);" [farCirclePlus]="faCirclePlus" [classBtnPokemon]="classBtnPokemon"></app-pokemon-com>
        </li>          
    </ul>
</div>
<div class="LoadMore">
    <button (click)="LoadMore();" >Carregar Mais...</button>
</div>

